.App {
  max-width: 600px;
  margin: 30px auto;
}
body {
  background: radial-gradient(
    circle at 7.5% 24%,
    rgb(237, 161, 193) 0%,
    rgb(250, 178, 172) 25.5%,
    rgb(190, 228, 210) 62.3%,
    rgb(215, 248, 247) 93.8%
  );
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
ul {
  border: solid 1px green;
  background-color: white;
}
ul,
li {
  display: inline-block;
  list-style-type: none;

  margin: 0 auto;
  padding: 0;
}
#current-temp {
  display: inline;
}
h5 {
  padding: 0;
  margin: 0 auto;
  display: inline;
}
.App footer {
  font-size: 10px;
  margin: 10px 0;
}
.cities {
  position: fixed;
  top: 0;
  right: 0;
}
.weather-today {
  background-color: white;
}
#weather-description {
  font-size: 20px;
  border: 0.5px solid;
  padding: 5px;
  border-radius: 15px;
}

.App {
  max-width: 600px;
  margin: 20px auto;
}

.img {
  margin: 0;
  padding: 0;
}
